form {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    background-color: rgb(178, 178, 178);
    margin: 3rem;
}

@media (min-width: '990px') {
    form {
        width: 25%;
        margin: auto;
    }
}